<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Qervon</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>Oturumunuzu Face ID ile hızlıca açmanız için kullanılır. Bu, yalnızca cihazınızda saklanan oturumun kilidini açar; sunucu tarafında biyometrik bir kimlik doğrulama yapılmaz.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Qervon, alım adresinizi kolayca seçebilmeniz ve kuryenizin konumunu haritada gösterebilmek için konumunuzu kullanır.</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
