# ==============================================================================
# File:           mobile/android/customer/src/main/AndroidManifest.xml
# Project:        Qervon
# Author:         USDTG GROUP TECHNOLOGY LLC
# Developer:      Irfan Gedik
# Created Date:   2026-08-05
# Version:        0.1.0
#
# Description:
#   Defines part of the native Qervon Customer application for Android.
#
# Specification:
#   QAS-000004, QAS-000005, QAS-000007, QES-000003, QES-000004.
#
# License:
#   Qervon License v1.0 — see LICENSE in the repository root.
# ==============================================================================
